.card-image {
  position: relative;
  display: block;
  margin-bottom: 16px;
}

.card-image::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: .6s ease-in-out;
}

.card-image:hover::after {
  opacity: .6;
}
