.header__description {
  margin: 0;
  font-weight: 800;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  margin-left: 198px;
  font-family: 'NeueMachinaBold',sans-serif;
}

@media screen and (max-width: 767px) {
  .header__description {
    margin-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .header__description {
    font-size: 22px;
    line-height: 30px;
  }
}

@media screen and (max-width: 425px) {
  .header__description {
    font-size: 20px;
    line-height: 27px;
  }
}

@media screen and (max-width: 375px) {
  .header__description {
    font-size: 19px;
    line-height: 27px;
  }
}
