.sticky-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 64px;
  padding-right: 21px;
  box-sizing: border-box;
  opacity: 1;
  transition: .3s top ease-in-out;
}

@media screen and (max-width: 767px) {
  .header__navigation,
  .sticky-header {
    display: none;
  }
}
